.template {display: none;}
td.label {
    text-align: right;
    font-weight: bold;
}

textarea {
    height: 100px;
}

.ui-button .ui-button-text {
    line-height: 1;
}

.ui-buttonset .ui-button-text-only .ui-button-text {
    padding: .4em .5em;
}

.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {
    left: 0.3em;
}

.ui-button-text-icon-primary .ui-button-text {
    padding: 0.4em 0.8em 0.4em 1.7em;
}

.ui-corner-all-12, .ui-corner-top-12, .ui-corner-left-12, .ui-corner-tl-12 {
    -moz-border-radius-topleft: 12px;
    -webkit-border-top-left-radius: 12px;
    -khtml-border-top-left-radius: 12px;
    border-top-left-radius: 12px;
}

.ui-corner-all-12, .ui-corner-top-12, .ui-corner-right-12, .ui-corner-tr-12 {
    -moz-border-radius-topright: 12px;
    -webkit-border-top-right-radius: 12px;
    -khtml-border-top-right-radius: 12px;
    border-top-right-radius: 12px;
}

.ui-corner-all-12, .ui-corner-bottom-12, .ui-corner-left-12, .ui-corner-bl-12 {
    -moz-border-radius-bottomleft: 12px;
    -webkit-border-bottom-left-radius: 12px;
    -khtml-border-bottom-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.ui-corner-all-12, .ui-corner-bottom-12, .ui-corner-right-12, .ui-corner-br-12 {
    -moz-border-radius-bottomright: 12px;
    -webkit-border-bottom-right-radius: 12px;
    -khtml-border-bottom-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* ㄥloading剧 */
.ui-loading { background: url('../images/ajax/loading.gif') right center no-repeat; padding-left: 18px;}

.error, .alert, .notice, .success, .info {
	padding: auto !important;
}

/* 瑙ｅ冲jquery ui tooltip茬棰 */
.qtip {padding: 0px !important;}

.pagination {
  margin: 20px 0;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  background-color:#ffffff;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 40px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #5cb48e;
  color:#ffffff;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #ffffff;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.pagination-centered {
  text-align: center;
}



/*自定义表单设计*/

fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    /*border: 2px groove threedface;*/
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
}
.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  *zoom: 1;
}

.form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}

.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-horizontal .control-group:after {
  clear: both;
}

.form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 10px;
  text-align: right;
}

.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}

.form-horizontal .designText {
  padding-top:10px;
}

.form-horizontal .controls:first-child {
  *padding-left: 180px;
}

.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block,
.form-horizontal .uneditable-input + .help-block,
.form-horizontal .input-prepend + .help-block,
.form-horizontal .input-append + .help-block {
  margin-top: 10px;
}

.form-horizontal .form-actions {
  padding-left: 180px;
}










